CREATE OR REPLACE VIEW cliente_totais AS SELECT c.id as cliente_id, COALESCE(SUM(nd.valor), 0) as total_devido, COALESCE(SUM(CASE WHEN nd.data_vencimento >= CURRENT_DATE THEN nd.valor ELSE 0 END), 0) as total_adimplente, COALESCE(SUM(CASE WHEN nd.data_vencimento < CURRENT_DATE THEN nd.valor ELSE 0 END), 0) as total_inadimplente FROM clientes c LEFT JOIN notas_debito nd ON c.id = nd.cliente_id GROUP BY c.id;
